# Forecasting: Number of Antidiabetic Drug Prescription in Australia

#### Loading Libraries

In [1]:
# Numerical Computing
import numpy as np
# Data Manipulation
import pandas as pd
# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning Metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Statistical Modeling
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose, STL
from statsmodels.stats.diagnostic import acorr_ljungbox
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.statespace.varmax import VARMAX
from statsmodels.tsa.arima_process import ArmaProcess
from statsmodels.graphics.gofplots import qqplot
from statsmodels.tsa.stattools import adfuller, grangercausalitytests
# Statistical Modeling API
import statsmodels.api as sm

# Iterators Optimizer
from tqdm.notebook import tqdm
from itertools import product
from typing import Union

# Warnings
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
%matplotlib inline

#### Loading Data

In [4]:
df = pd.read_csv('/Users/isisromero/desktop/time_series/data/AusAntidiabeticDrug.csv')
df.head(10)

           ds         y
0  1991-07-01  3.526591
1  1991-08-01  3.180891
2  1991-09-01  3.252221
3  1991-10-01  3.611003
4  1991-11-01  3.565869
5  1991-12-01  4.306371
6  1992-01-01  5.088335
7  1992-02-01  2.814520
8  1992-03-01  2.985811
9  1992-04-01  3.204780